<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="AlwaysShowFullOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowModifyConfigFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GitNoFastForward" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>PuTTY</value>
            </setting>
            <setting name="LegacyAccountPersistenceServiceLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartSSHAgent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalyticsHasAgreed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalyticsDisplayOptIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartSSHAgent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>zh-CN</value>
            </setting>
            <setting name="DiffConvertTabsToSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GitVerboseOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GitRebaseTrackingBranches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowModifyConfigFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableHgSupport" serializeAs="String">
                <value>False</value>
            </setting>
        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>
